<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta name='description' content='Hyperraum tour. Every day during the month of October, a different temporary public work will be created,  documented, and displayed on this map.' />
        <meta name='keywords' content='Hyperraum, brian james priest, brian priest, brian, priest, installation, art, interactive' />
		    <title>Hyperraum</title>
        {% include "scripts.html" %}
    </head>
    <body>
        {% block google_map %}
        {% endblock %}
        <div id='container'>
            {% block container %}
            {% endblock %}
        </div>
    </body>
</html>
