<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta name='description' content='' />
        <meta name='keywords' content='' />
        {% include "scripts.html" %}
    </head>
    <body>
        {% block google_map %}
        {% endblock %}
        <div id='container'>
        	{% for artist in artists %}
			{% if artist.user = user and artist.name == '' %}
			<script type='text/javascript'>
				alert("You don't have a name yet, you will automatically go to the screen to make one...");
				window.location = "/admin/artist/artist/{{ artist.pk }}/";
			</script>
			{% endif %}
			{% endfor %}	
            {% block container %}
            {% endblock %}
			{% block edit_street %}
			{% endblock %}
        </div>
    </body>
</html>
