{% extends base_template %}
{% block google_map %}
<div id="map_canvas" style="width:100%; height:100%">
</div>
<script type='text/javascript'>
    initialize(30.4134822489, -91.1828756928, false);
</script>
{% endblock %}
{% block container %}
<div id='all-sounds'>
    {% for a in artists %}
    {% for s in a.piece_set.all %}
        <script type='text/javascript'>
			var ll = new google.maps.LatLng({{ s.location.lat }}, {{ s.location.long }});
			/*icon = new google.maps.MarkerImage('{{ s.default_image.thumb }}', new google.maps.Size(50,50));
			if( icon.url !== ''){
            sound = new google.maps.Marker({
                position: ll,
                map: map,
				icon: icon,
                draggable: false,
            });
			}
			else{
			*/
			sound = new google.maps.Marker({
                position: ll,
                map: map,
                draggable: false,
            });
			//}
			google.maps.event.addListener(sound, 'click', function(){
				$(document).click(function(event){
					console.log('{{ s.pk }}');
					$('.marker-feed-back').css('z-index','-1');
					$('#{{ s.pk }}').css('z-index','10');
					jingleAnimate('#{{ s.pk }}', event.pageX, event.pageY);
					$(document).unbind('click');
				});
			});
        </script>
		<div id='{{ s.pk }}' class='marker-feed-back rounded-corners-all'>
        <p>
            {{ a.name }}
        </p>
        <p>
            <a href='{{ s.slug }}'>{{ s }}</a>
        </p>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endblock %}
{% block edit_street %}
<script type='text/javascript'>
	jQuery.event.add(window, 'load', function(){
		var as = $('.marker-feed-back a');
		for (var i = 0; i < $(as).length; i++){
			$(as[i]).attr('href', '/edit/'+$(as[i]).attr('href'));
		}
	});

</script>
{% endblock %}