{% extends 'default.html' %}
{% block google_map %}
<div id="map_canvas" style="width:100%; height:100%">
</div>
{% endblock %}
{% block container %}
<script type='text/javascript'>         
    initialize(30.414122981729275, -91.17732620239258, true);        
</script>
<div id='marker-feed-back' class='rounded-corners-all filler'>
	<form name='piece_form' method='post' action='/add-piece' enctype='multipart/form-data'>
		{%  csrf_token %}
	<p>Title</p>
	{{ piece_form.title }}
	<p>Image</p>
    {{ piece_form.default_image }}
	<p>Sound</p>
    {{ piece_form.sounds }}
    <input name='lat' id='lat' class='hidden' type='text' />
	<input name='long' id='long' class='hidden' type='text' />
	<input name='submit' type='submit' value='submit' class='submit'/>
	</form>
</div>
{% endblock %}