<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
</script>
<script type="text/javascript">
if(window.location.hostname != 'blu-wired' || window.location.hostname != '127.0.0.1'){
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26475159-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
}
</script>
<link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}css/styles.css'/>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js">
</script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript">
    function done(event){
        $('#marker-feed-back').data('new', true);
		var pos = sound1.getPosition();
		var lat = pos.lat();
		var long = pos.lng();
        $('#marker-feed-back').data('lat', lat);
        $('#marker-feed-back').data('long', long);
    }
    
    function initialize(lat, long, draggable){
        var ll = new google.maps.LatLng(lat, long);
        myOptions = {
            zoom: 16,
            center: ll,
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		if (draggable) {
			sound1 = new google.maps.Marker({
				position: ll,
				map: map,
				draggable: draggable,
			});
			google.maps.event.addListener(sound1, 'dragend', done);
			google.maps.event.addListener(sound1, 'click', done);
		}
    }
    
    function addNewMarker(lat, long, draggable){
		var ll = new google.maps.LatLng(lat, long);
        sound = new google.maps.Marker({
            position: ll,
            map: map,
            draggable: draggable,
        });
    }
</script>
