<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
</script>
<link type='text/css' rel='stylesheet' href='{{ STATIC_URL }}css/styles.css'/>
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js">
</script>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript">
    function done(event){
        $('#marker-feed-back').data('new', true);
        $('#marker-feed-back').data('lat', event.latLng.Ma);
        $('#marker-feed-back').data('long', event.latLng.Na);
    }
    
    function initialize(lat, long, draggable){
        var ll = new google.maps.LatLng(lat, long);
        myOptions = {
            zoom: 16,
            center: ll,
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		sound1 = new google.maps.Marker({
            position: ll,
            map: map,
            draggable: draggable,
        });
        google.maps.event.addListener(sound1, 'dragend', done);
        google.maps.event.addListener(sound1, 'click', done);
    }
    
    function addNewMarker(lat, long, draggable){
		var ll = new google.maps.LatLng(lat, long);
        sound = new google.maps.Marker({
            position: ll,
            map: map,
            draggable: draggable,
        });
    }
</script>
